<a href="https://colab.research.google.com/github/30Umamaheswari/Phonepe/blob/main/Phonepe_Pluse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/PhonePe/pulse.git

In [ ]:
# @title Aggregated Transaction Data
# aggregated transaction data

import pandas as pd
import os
import json

path = "/content/pulse/data/aggregated/transaction/country/india/state/"
agg_state_list = os.listdir(path)
# agg_state_list

clm = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in agg_state_list:
  p_i = path + i + '/'
  agg_yr = os.listdir(p_i)
  # agg_yr
  for j in agg_yr:
    p_j = p_i + j + '/'
    agg_yr_list = os.listdir(p_j)
    # print(agg_yr_list) # it shows list of json files

    for k in agg_yr_list:
      p_k = p_j + k
      # p_k
      data = open(p_k, 'r')
      d = json.load(data)
      # print(d) # structure of json file

      for x in d['data']['transactionData']:
        # print(x)
        Name = x['name']
        count = x['paymentInstruments'][0]['count']
        amount = x['paymentInstruments'][0]['amount']

        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))
        clm['Transaction_type'].append(Name)
        clm['Transaction_count'].append(count)
        clm['Transaction_amount'].append(amount)

agg_trans = pd.DataFrame(clm)
agg_trans

In [ ]:
# @title Aggregation User Data
import os
import json
import pandas as pd
from pprint import pprint

path_1 = "/content/pulse/data/aggregated/user/country/india/state/"
user_list = os.listdir(path_1)

clm1 = {'State': [], 'Year': [], 'Quarter': [], 'Brand': [], 'Count': [], 'Percentage': []}
clm2 = {'State': [], 'Year': [], 'Quarter': [], 'registeredUser': [], 'appOpens': []}

for i in user_list:
    p_i = path_1 + i + '/'
    agg_yr = os.listdir(p_i)

    for j in agg_yr:
        p_j = p_i + j + '/'
        agg_yr_list = os.listdir(p_j)

        for k in agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            e = json.load(Data)
            # print(e)

            try:
              for y in e['data']['usersByDevice']:
                # print(y)
                # for clm1 values
                brand_name = y['brand']
                Count = y['count']
                all_percentage = y['percentage']

                clm1['State'].append(i)
                clm1['Year'].append(j)
                clm1['Quarter'].append(int(k.strip('.json')))
                clm1['Brand'].append(brand_name)
                clm1['Count'].append(Count)
                clm1['Percentage'].append(all_percentage)
            except:
              pass


# clm2 values
for i in user_list:
    p_i = path_1 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            B = json.load(Data)
            # print(B)
            for r in B:
                user = B["data"]["aggregated"]["registeredUsers"]
                app = B["data"]["aggregated"]["appOpens"]

                clm2['State'].append(i)
                clm2["Year"].append(j)
                clm2["Quarter"].append(int(k.strip('.json')))
                clm2["registeredUser"].append(user)
                clm2["appOpens"].append(app)

In [ ]:
mobileBrand = pd.DataFrame(clm1)
mobileBrand

import csv
mobileBrand.to_csv('user_mobilebrand.csv',index=False)

In [ ]:
agg_user = pd.DataFrame(clm2)
agg_user

import csv
agg_user.to_csv('aggregated_user.csv',index=False)

In [ ]:
# @title Map Transaction Data
# map transaction

path_2 = '/content/pulse/data/map/transaction/hover/country/india/state/'

hover_list = os.listdir(path_2)

clm3 = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'Count': [], 'amount':[]}

for i in hover_list:
  p_i = path_2 + i + '/'
  agg_yr_hover = os.listdir(p_i)

  for j in agg_yr_hover:
    p_j = p_i + j + '/'
    agg_yr_hover_list = os.listdir(p_j)

    for k in agg_yr_hover_list:
      p_k = p_j + k
      # print(p_k)
      data1 = open(p_k, 'r')
      f = json.load(data1)
      # print(f)

      for z in f['data']['hoverDataList']:
        district = z['name']
        cout = z['metric'][0]['count']
        amt = z['metric'][0]['count']

        clm3['District'].append(district)
        clm3['Count'].append(cout)
        clm3['amount'].append(amt)
        clm3['State'].append(i)
        clm3['Year'].append(j)
        clm3['Quater'].append(int(k.strip('.json')))

map_transaction = pd.DataFrame.from_dict(clm3)
map_transaction

import csv
map_transaction.to_csv('map_transaction.csv',index=False)

In [ ]:
# map users

path_3 = '/content/pulse/data/map/user/hover/country/india/state/'

map_user_list = os.listdir(path_3)

clm4 = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'registerUser': [], 'appOnes':[]}

for i in map_user_list:
  p_i = path_3 + i + '/'
  agg_yr_map = os.listdir(p_i)

  for j in agg_yr_map:
    p_j = p_i + j + '/'
    agg_yr_map_list = os.listdir(p_j)

    for k in agg_yr_map_list:
      p_k = p_j + k
      # print(p_k)
      data1 = open(p_k, 'r')
      g = json.load(data1)
      # print(g)

      for v in g['data']['hoverData'].items():
        dist = v[0]
        registerUser = v[1]['registeredUsers']
        apps = v[1]['appOpens']

        clm4['District'].append(dist)
        clm4['registerUser'].append(registerUser)
        clm4['appOnes'].append(apps)
        clm4['State'].append(i)
        clm4['Year'].append(j)
        clm4['Quater'].append(int(k.strip('.json')))

map_user = pd.DataFrame(clm4)
map_user

import csv
map_user.to_csv('map_user.csv',index=False)

In [ ]:
# top transaction

path_4 = '/content/pulse/data/top/transaction/country/india/state/'
top_list = os.listdir(path_4)
# print(top_list)

clm5 = {'Entity_Name': [], 'Year': [], 'Quarter': [], 'Entity_Type': [], 'Count': [], 'Amount': [], 'State': []}

for i in top_list:
  p_i = path_4 + i + '/'
  agg_yr_top = os.listdir(p_i)

  for j in agg_yr_top:
    p_j = p_i + j + '/'
    agg_yr_top_list = os.listdir(p_j)

    for k in agg_yr_top_list:
      p_k = p_j + k
      # print(p_k)
      data3 = open(p_k, 'r')
      h = json.load(data3)
      # print(h)

      for v in h['data']['pincodes']:
                Name = 'Pincode'
                name = v['entityName']
                count = v['metric']['count']
                amount = v['metric']['amount']

                clm5['State'].append(i)
                clm5['Entity_Type'].append(Name)
                clm5['Entity_Name'].append(name)
                clm5['Count'].append(count)
                clm5['Amount'].append(amount)
                clm5['Year'].append(j)
                clm5['Quarter'].append(int(k.strip('.json')))

      for l in h['data']['districts']:
          Name = 'District'
          name = l['entityName']
          count = l['metric']['count']
          amount = l['metric']['amount']

          clm5['State'].append(i)
          clm5['Entity_Type'].append(Name)
          clm5['Entity_Name'].append(name)
          clm5['Count'].append(count)
          clm5['Amount'].append(amount)
          clm5['Year'].append(j)
          clm5['Quarter'].append(int(k.strip('.json')))

top_transaction = pd.DataFrame(clm5)
top_transaction

import csv
top_transaction.to_csv('top_transaction.csv',index=False)

In [ ]:
# top user

path_5 = '/content/pulse/data/top/user/country/india/state/'
top_user_list = os.listdir(path_5)

clm6 = {'Entity_Name': [], 'Entity_Type': [], 'Year': [], 'Quarter': [], 'registeredUser': [], 'State' : []}


for i in top_user_list:
  p_i = path_5 + i + '/'
  agg_yr_top_user = os.listdir(p_i)

  for j in agg_yr_top_user:
    p_j = p_i + j + '/'
    agg_yr_top_user_list = os.listdir(p_j)

    for k in agg_yr_top_user_list:
      p_k = p_j + k
      # print(p_k)
      data3 = open(p_k, 'r')
      m = json.load(data3)
      # print(m)

      for a in m['data']['pincodes']:
                Name = 'Pincode'
                name = a['name']
                registeredUser = a['registeredUsers']

                clm6['State'].append(i)
                clm6['Entity_Type'].append(Name)
                clm6['Entity_Name'].append(name)
                clm6['registeredUser'].append(registeredUser)
                clm6['Year'].append(j)
                clm6['Quarter'].append(int(k.strip('.json')))

      for b in m['data']['districts']:
          Name = 'District'
          name = b['name']
          registeredUser = b['registeredUsers']

          clm6['State'].append(i)
          clm6['Entity_Type'].append(Name)
          clm6['Entity_Name'].append(name)
          clm6['registeredUser'].append(registeredUser)
          clm6['Year'].append(j)
          clm6['Quarter'].append(int(k.strip('.json')))

top_user = pd.DataFrame(clm6)
top_user

import csv
top_user.to_csv('top_user.csv',index=False)

In [ ]:
!pip install SQLAlchemy mysql-connector-python

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine
import mysql.connector

In [ ]:
# Replace these with your actual MySQL connection details
user = 'root'
password = 'Umamaheswari30*'
host = 'localhost'
database = 'Phonepe'

# Create the MySQL connection string
connection_string = f'mysql+mysqlconnector://root:Umamaheswari30*@localhost/Phonepe'

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

In [ ]:
# agg_transaction into sql

import sqlite3
import pandas as pd

agg_trans = pd.DataFrame(clm)

db_path = "/content/phonepe.db"
conn = sqlite3.connect(db_path)

table_name = "aggregated_transaction"
agg_trans.to_sql(table_name, conn, index=False, if_exists="replace")

3954

In [ ]:
import sqlite3
import pandas as pd

mobileBrand = pd.DataFrame(clm1)
agg_user = pd.DataFrame(clm2)

db_path = "/content/phonepe.db"
conn = sqlite3.connect(db_path)

mobileBrand.to_sql('users_mobilebrand', conn, index=False, if_exists='replace')
agg_user.to_sql('aggregated_user',conn, index=False, if_exists='replace')

3168

In [ ]:
# map transaction into sql

import sqlite3
import pandas as pd

map_transaction = pd.DataFrame.from_dict(clm3)

db_path = "/content/phonepe.db"
conn = sqlite3.connect(db_path)

map_transaction.to_sql('map_transaction', conn, index=False, if_exists='replace')

16100

In [ ]:
import sqlite3
import pandas as pd

map_user = pd.DataFrame.from_dict(clm4)

db_path = "/content/phonepe.db"
conn = sqlite3.connect(db_path)

map_user.to_sql('map_user', conn, index=False, if_exists='replace')

16104

In [ ]:
import sqlite3
import pandas as pd

top_transaction = pd.DataFrame.from_dict(clm5)

db_path = "/content/phonepe.db"
conn = sqlite3.connect(db_path)

top_transaction.to_sql('top_transaction', conn, index=False, if_exists='replace')

14365

In [ ]:
import sqlite3
import pandas as pd

top_user = pd.DataFrame.from_dict(clm6)

db_path = "/content/phonepe.db"
conn = sqlite3.connect(db_path)

top_user.to_sql('top_user', conn, index=False, if_exists='replace')

14366

In [ ]:
# to check tables are stored in sqlite3 db

db_path = "/content/phonepe.db"
conn = sqlite3.connect(db_path)

query = "SELECT name FROM sqlite_master WHERE type='table';"

# Execute the query
cursor = conn.execute(query)

# Fetch all the table names
table_names = cursor.fetchall()

# Close the cursor
cursor.close()

print("Tables in the database:")
for table in table_names:
    print(table[0])
conn.close()

Tables in the database:
aggregated_transaction
users_mobilebrand
aggregated_user
map_transaction
map_user
top_transaction
top_user

In [ ]:
# @title Default title text
from geopy.geocoders import GoogleV3
import pandas as pd

# Initialize the geocoder with your Google Maps API key
geolocator = GoogleV3(api_key="YOUR_GOOGLE_MAPS_API_KEY")

# List of Indian cities for geocoding
indian_cities = ["Mumbai, India", "Delhi, India", "Bangalore, India", "Chennai, India", "Kolkata, India"]

# Initialize lists to store latitude and longitude values
latitudes = []
longitudes = []

# Loop through Indian cities and obtain latitude and longitude
for city in indian_cities:
    location = geolocator.geocode(city)
    if location:
        latitudes.append(location.latitude)
        longitudes.append(location.longitude)
    else:
        latitudes.append(None)
        longitudes.append(None)

# Create a DataFrame with the obtained data
data = {
    'City': indian_cities,
    'Latitude': latitudes,
    'Longitude': longitudes
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)